
/*Below this will effect multiple things at once*/
@font-face {
    font-family: name-font;
    src: url(name-font.ttf);
  }

  @font-face {
    font-family: red-hands;
    src: url(red-hands.ttf);
  }

  @media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
  }

  .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
  }

  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e6f3fa;
}

h1 {
    font-size: 3.4rem;
    font-family: name-font;
}

h2 {
    font-family: red-hands;
    font-size: 2.3rem;
    text-align: center;
    letter-spacing: 3px;
}

p {
    line-height: 2;
    text-align: center;
    font-size: 1.3rem;
    font-family: red-hands;
}

.main-content {
    margin: 0 auto;
    width: 60%;
}

.hyperlink-content:hover {
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transform:scale(1.1);
}


/*Below this gets more specific*/


/*Section 1*/
#section1 {
    width: 100%;
    height: 900px;
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
    background-image: url(https://www.shutterstock.com/image-photo/summer-festival-crowd-view-girl-600nw-622013237.jpg);
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}

#hey-im {
    text-align: left;
    font-family: name-font;
    font-style: italic;
}

/*Section 2*/
#section2 {
    background-color: #667292;
    color: #fff;
    padding: 30px;
    margin: 40px auto;
    border-radius: 40px;
}

#please-check-out {
    display: flex;
    text-align: center;
    align-items: center;
    width: 600px;
    font-size: 2rem;
    color: rgb(242, 209, 209);
}

#right-pointing-arrow {
    padding: 35px 30px 35px 16px;
    width: 170px;
    height: 100px;
}

#brain-img {
    width: 200px;
    border-radius: 50%;
}

#brain-container {
    margin: 0 auto;
    width: 600px;
    display: flex;
    justify-content: space-between;
}

/*Section 3*/
#section3, #section5 {
    width: 100%;
    height: 600px;
    color: white;
    background-color: black;
}

#section3 h2 {
    border-bottom: 1px solid white;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
}

#schooling-content-container {
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: 0 auto;
    padding-top: 50px;
}

#castleton-logo {
    height: 300px;
    border-radius: 70px;
}

.schooling-content-container-child {
    width: 490px;
}

.schooling-content-container-child:nth-of-type(1) p {
    line-height: 15px;
}

.schooling-content-container-child p {
    font-size: 1rem;
}

.schooling-content-container-child:nth-of-type(2) {
    width: 500px;
}

#personal-acholades {
    font-size: 1.5rem;
    margin: 0 0 0 58px;
    font-style: italic;
}

#acholades-list li{
    width: 400px;
    line-height: 30px;
    padding: 20px;
    list-style: inside;
    font-size: 1.2rem;
}

#speech-video {
    height: 420px;
    border-radius: 20px;
}

/*Section 4*/
#section4 {
    height: 600px;
}

#portfolio-content-container {
    display: flex;
    justify-content: center;
}

#expense-sheet-img {
    height: 400px;
    border-radius: 20px;
}

/*Section 5*/
#section5 {
    background-image: url(https://wallpaper.dog/large/10817628.jpg);
    background-size: cover;
}

#section5 h2 {
    padding-top: 40px;
    color: black;
}

#section5 p {
    width: 800px;
    margin: 0 auto;
    color: white;
    background-color: rgb(43, 43, 43);
    padding: 10px;
    border-radius: 20px;
}

#goals-container {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: 0 auto;
}

.goals-container-child {
    color: #fff;
    background-color: rgb(43, 43, 43);
    margin-top: 20px;
    border-radius: 20px;
    height: 220px;
    width: 360px;
    font-family: red-hands;
}

.goals-container-child h3 {
    text-align: center;
}

.goals-container-child ul li {
    padding: 5px;
}

/*Section 6*/
#section6 {
    background-color: black;
    color: #fff;
    width: 100%;
    height: 450px;
    padding-top: 20px;
    margin-top: -32px;
}

#social-logos {
    margin: 0 auto;
    width: 225px;
}

#section6 a img {
    width: 90px;
    padding: 10px;
    border-radius: 20px;
}
