body {
    width: 100%;
    margin: 0;
    padding: 0;
}

html {
    /*scroll-behavior: smooth;*/
}

.squiggley-line-divider {
    width: 100%;
    height: 100px;
}

/*Nav bar css*/
#nav-bar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(157, 164, 226);
    height: 80px;
    border-radius: 10px;
}

#brain-img {
    width: 70px;
    border-radius: 50%;
    padding: 10px;
}

#nav-bar-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    padding-right: 10px;
}

#nav-bar-child p {
    padding: 0px 20px;
    font-size: 1.1rem;
    border-radius: 5px;
}

#nav-bar a {
    text-decoration: none;
    color: black;
}

#nav-bar a:hover {
    color: black;
    background: radial-gradient(ellipse, rgb(246, 185, 251), rgb(232, 190, 247), rgb(157, 164, 226));
    border-radius: 100%;
}

/*writers note div*/
#writers-note-container {
    width: 50%;
    height: 400px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    align-items: center;
}

#writers-note {
    padding-left: 50px;
    line-height: 30px;
    font-size: 1.3rem;
}

#hiking-pic {
    width: 350px;
    border-radius: 40px;
}

/*Why tech section*/
#guy-on-computer {
    width: 100px;
}